@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  width: 100%;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.contenedor-gral {
  padding: 100px 15px 15px;
}

.oculto {
  display: none;
}

.nav-principal {
  height: 70px;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .logo {
  background: aqua;
  width: 40%;
  max-width: 116px;
  height: 70%;
}

.nav-principal .contenido {
  width: calc(100% - 116px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .menu-mobile {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  max-width: 150px;
  height: 30px;
  font-size: 0.8rem;
}

.nav-principal .item-menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 100%;
}

.nav-principal .hamburguesa {
  background: black;
  width: 85%;
  height: 3px;
  margin: 2px;
}

@media (min-width: 768px) {
  .nav-principal {
    height: 85px;
  }
  .contenido .menu-mobile {
    display: none;
  }
  .contenido .oculto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100%);
    height: 100%;
  }
  .contenido .item-menu-desktop {
    list-style-type: none;
    margin-left: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .contenido .font-aw {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .nav-principal {
    padding: 0px 80px;
  }
}

.swiper-container {
  width: 100%;
  height: calc(100vh - 70px);
}

.swiper-container .swiper-button-white {
  display: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper-slide .contenido-slider {
  background: #f1f1f1;
  padding: 40px 20px 60px;
  width: 80%;
  margin-bottom: 70px;
  text-align: center;
}

.swiper-slide .mini-titulo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.swiper-slide .mini-sub {
  text-transform: capitalize;
  font-size: 1.7rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.swiper-slide .mini-texto {
  font-size: 0.7rem;
}

.slide-01 {
  background: red;
}

.slide-02 {
  background: blue;
}

.slide-03 {
  background: green;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

@media (min-width: 768px) {
  .header-principal {
    margin-bottom: 100px;
    overflow-y: visible;
    padding-bottom: 100px !important;
  }
  .header-principal .swiper-pagination {
    display: none;
  }
  .header-principal .swiper-button-white {
    display: block;
    color: white;
    top: 35%;
    padding: 25px;
    font-size: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-principal .swiper-button-next:after,
  .header-principal .swiper-button-prev:after {
    font-size: 1.5rem;
  }
  .swiper-slide .contenido-slider {
    margin-bottom: -40px;
  }
}

@media (min-width: 1024px) {
  .swiper-container {
    padding: 0px 80px 100px !important;
  }
  .swiper-container .swiper-button-white {
    padding: 35px;
    background: white;
    color: black;
  }
  .swiper-container .swiper-button-next {
    margin-right: 35px;
  }
  .swiper-container .swiper-button-prev {
    margin-left: 35px;
  }
}

.contenido-principal {
  background: #f6f7f8;
}

.header-secciones {
  margin-bottom: 30px;
}

.header-secciones .sub-textos {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.header-secciones .titulos-principales {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
}

.pie-titulos {
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
}

.textos-comunes {
  font-size: 0.8rem;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
}

.btn-principal {
  background: black;
  color: white;
  max-width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px 0px 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  margin-bottom: 70px;
}

.btn-principal .linea-boton {
  background: white;
  width: 20px;
  height: 1px;
}

.swiper-container-dos {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.swiper-container-dos .swiper-slide {
  border: 1px solid black;
}

.pie-seccion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
  line-height: 1.1;
  text-transform: uppercase;
}

.pie-seccion .pie-difuminado {
  color: rgba(191, 191, 191, 0.3);
  font-size: 3rem;
  font-weight: 900;
}

.pie-seccion .pie-sub {
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

.pie-seccion:after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  background: black;
}
/*# sourceMappingURL=styles.css.map */