@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.contenedor-gral {
  padding: 100px 15px 15px;
}

@media (min-width: 768px) {
  .contenedor-gral {
    padding: 100px 60px 15px;
  }
}

.contenedor-gral-dos {
  padding: 100px 15px 15px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor-gral-dos {
    padding: 100px 60px 15px;
  }
}

@media (min-width: 1240px) {
  .contenedor-gral-dos {
    max-width: 1440px;
  }
}

.oculto {
  display: none;
}

ul {
  list-style-type: none;
}

.header-secciones {
  margin-bottom: 30px;
}

.header-secciones .sub-textos {
  text-transform: uppercase;
  font-size: clamp(1.125rem, 3.5vw, 1.875rem);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.pie-seccion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 30px;
  line-height: 1.1;
  text-transform: uppercase;
}

.pie-seccion .pie-difuminado {
  color: rgba(191, 191, 191, 0.3);
  font-size: clamp(2.625rem, 8vw, 5rem);
  font-weight: 900;
  text-align: right;
}

.pie-seccion .pie-sub {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  line-height: 18px;
}

.pie-seccion:after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  background: black;
}

.titulos-principales {
  text-transform: uppercase;
  font-size: clamp(1.875rem, 4.5vw, 2.5rem);
  font-weight: 600;
  line-height: 1.3;
  position: relative;
  margin-bottom: 30px;
}

.titulos-after {
  font-size: clamp(1.625rem, 4vw, 2.25rem);
}

.titulos-after:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background: black;
  bottom: -40px;
  left: 0px;
}

.pie-titulos {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
  max-width: 85%;
}

.textos-comunes {
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
  max-width: 85%;
}

.titulos-cartas-pag-sec {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.4;
}

.datos-cartas-pag-sec {
  width: 100%;
  margin: 20px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  text-transform: uppercase;
  font-weight: 600;
  color: #acacac;
  letter-spacing: 0.5px;
}

.datos-cartas-pag-sec .link-cartas-pag-sec {
  margin-right: 20px;
  position: relative;
}

.datos-cartas-pag-sec .fuerte {
  color: black;
}

.btn-principal {
  background: black;
  color: white;
  max-width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px 0px 35px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.75rem;
  margin-bottom: 70px;
}

.btn-principal .linea-boton {
  background: white;
  width: 20px;
  height: 1px;
}

.swiper-con-botones {
  /*ESTA CLASE PORQUE PARA CAMBIAR LOS BOTONES DEL SWIPER,
   NECESITO QUE HAYA UN NEST CON EL PADRE, Y ESTA ES
   LA MEJOR OPCION PARA HACER LOS BOTONES REUTILIZABLES*/
}

.swiper-con-botones .btn-nav-swiper {
  background: black;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-con-botones .btn-nav-swiper::after {
  font-size: 0.6rem;
  color: white;
}

.nav-principal {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  background: white;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
}

.nav-principal .logo {
  width: 40%;
  max-width: 116px;
  height: 70%;
  border: 1px solid black;
}

.nav-principal .contenido-nav-principal {
  width: calc(100% - 116px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .menu-mobile {
  width: 75%;
  max-width: 150px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.nav-principal .item-menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 100%;
}

.nav-principal .hamburguesa {
  background: black;
  width: 85%;
  height: 3px;
  margin: 2px;
}

@media (min-width: 768px) {
  .nav-principal {
    height: 85px;
  }
  .nav-principal .contenido-nav-principal .menu-mobile {
    display: none;
  }
  .nav-principal .contenido-nav-principal .oculto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100%);
    height: 100%;
  }
  .nav-principal .contenido-nav-principal .item-menu-desktop {
    margin-left: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .nav-principal .contenido-nav-principal .font-aw {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .nav-principal {
    padding: 0px 80px;
  }
}

.swiper-container {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.swiper-container .swiper-button-white {
  display: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper-slide .contenido-slider {
  background: #f1f1f1;
  padding: 40px 20px 60px;
  width: 70%;
  max-width: 940px;
  margin-bottom: 70px;
  text-align: center;
}

.swiper-slide .mini-titulo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: clamp(0.75rem, 2vw, 1.125rem);
  margin-bottom: 15px;
}

.swiper-slide .mini-sub {
  text-transform: capitalize;
  font-size: clamp(1.438rem, 5vw, 2.813rem);
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 300;
}

.swiper-slide .mini-texto {
  font-size: clamp(0.688rem, 2vw, 1rem);
}

.slide-01 {
  background: red;
}

.slide-02 {
  background: blue;
}

.slide-03 {
  background: green;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

@media (min-width: 768px) {
  .header-principal {
    overflow-y: visible;
    padding-bottom: 100px !important;
  }
  .header-principal .swiper-pagination {
    display: none;
  }
  .header-principal .swiper-button-white {
    display: block;
    color: white;
    top: 40%;
    padding: 25px;
    font-size: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-principal .swiper-button-next:after,
  .header-principal .swiper-button-prev:after {
    font-size: 1.2rem;
  }
  .swiper-slide .contenido-slider {
    margin-bottom: -40px;
  }
  .swiper-slide .mini-titulo {
    font-size: clamp(0.9375rem, 1.5vw, 1.125rem);
  }
  .swiper-slide .mini-sub {
    font-size: clamp(2.375rem, 3.2vw, 2.813rem);
  }
  .swiper-slide .mini-texto {
    font-size: clamp(0.875rem, 1.1vw, 1rem);
  }
}

@media (min-width: 1024px) {
  .swiper-container {
    padding: 0px 80px 100px !important;
  }
  .swiper-container .swiper-button-white {
    padding: 45px;
    background: white;
    color: black;
  }
  .swiper-container .swiper-button-next {
    margin-right: 25px;
  }
  .swiper-container .swiper-button-prev {
    margin-left: 25px;
  }
}

.contenido-principal {
  background: #f6f7f8;
}

.swiper-container-dos {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 20px;
  position: relative;
  background: white;
}

.swiper-container-dos .swiper-slide {
  border: 1px solid black;
}

@media (min-width: 420px) {
  .contenido-principal {
    position: relative;
    z-index: 2;
  }
  .swiper-container-dos {
    height: 100%;
  }
  .swiper-container-dos .swiper-slide {
    background: white;
  }
  .after-swiper {
    margin-bottom: 150px;
    width: 85%;
    max-width: 620px;
    height: 47vw;
    max-height: 380px;
    margin-left: auto;
    position: relative;
  }
  .after-swiper:after {
    content: "";
    position: absolute;
    left: -50px;
    bottom: -50px;
    width: 85%;
    height: 85%;
    border: 20px solid #d4d4d4;
  }
}

@media (min-width: 768px) {
  .after-swiper::after {
    border: 30px solid #d4d4d4;
    left: -70px;
    bottom: -70px;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .contenedor-gral-dos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
    -ms-grid-rows: 1fr 110px;
        grid-template-rows: 1fr 110px;
  }
  .pie-seccion {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .after-swiper {
    width: 425px;
    height: 275px;
  }
}

@media (min-width: 1238px) {
  .after-swiper {
    width: 85%;
    height: 345px;
  }
}

.filtro-proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 60px;
}

.filtro-proyectos .linea-proyecto {
  width: 2px;
  height: 20px;
  background: #e6e6e6;
  display: block;
  margin: 0px 15px 12px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.filtro-proyectos .item-proyectos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
}

.filtro-proyectos .item-proyectos:nth-child(1) {
  color: #d5dd02;
}

.swiper-container-tres {
  height: 140vw;
  position: relative;
  overflow-x: hidden;
}

.swiper-container-tres .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: red;
  height: 85%;
}

.swiper-container-tres .btn-nav-swiper {
  top: 130vw;
  left: 0;
}

.swiper-container-tres .swiper-button-next {
  margin-left: 50px;
}

@media (min-width: 453px) {
  .filtro-proyectos .item-proyectos:nth-child(3)::after {
    visibility: visible;
  }
}

@media (min-width: 580px) {
  .filtro-proyectos {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .swiper-container-tres {
    height: 80vw;
  }
  .swiper-container-tres .btn-nav-swiper {
    top: 75vw;
  }
}

@media (min-width: 1024px) {
  .proyectos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 200px 1fr 110px;
        grid-template-rows: 200px 1fr 110px;
  }
  .proyectos .filtro-proyectos {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .proyectos .item-proyectos:nth-child(4) {
    margin-right: 0px;
  }
  .proyectos .titulos-principales {
    margin: 0;
    font-size: 2.2rem;
  }
  .swiper-container-tres {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    height: 45vw;
  }
  .swiper-container-tres .btn-nav-swiper {
    top: 42vw;
  }
}

@media (min-width: 1240px) {
  .swiper-container-tres {
    height: 40vw;
  }
  .swiper-container-tres .btn-nav-swiper {
    top: 37vw;
  }
}

@media (min-width: 1440px) {
  .swiper-container-tres {
    height: 30vw;
  }
  .swiper-container-tres .btn-nav-swiper {
    top: 28vw;
  }
}

.swiper-container-cuatro {
  background: red;
  height: 100%;
  overflow: hidden;
}

.swiper-container-cuatro .btn-nav-swiper {
  top: 59vw;
  left: 0;
}

.swiper-container-cuatro .swiper-button-next {
  margin-left: 50px;
  margin-right: auto;
}

.after-swiper-nosotros {
  margin-bottom: 50px;
  height: 50vw;
  margin-left: auto;
  position: relative;
  margin-bottom: 80px;
}

@media (min-width: 620px) {
  .after-swiper-nosotros {
    width: 85%;
    margin: 120px auto 80px 0px;
  }
  .after-swiper-nosotros .btn-nav-swiper {
    top: 55vw;
  }
  .after-swiper-nosotros:after {
    content: "";
    position: absolute;
    left: -0px;
    bottom: -0px;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    border-right: 20px solid black;
    border-top: 20px solid black;
  }
  .after-swiper-nosotros::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: aqua;
    left: 70px;
    bottom: 70px;
    margin-left: auto;
    margin-right: 0;
    z-index: -2;
  }
}

@media (min-width: 768px) {
  .after-swiper-nosotros {
    height: 40vw;
  }
  .after-swiper-nosotros .btn-nav-swiper {
    top: 45vw;
  }
}

@media (min-width: 1024px) {
  .nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
    -ms-grid-rows: 1fr 110px;
        grid-template-rows: 1fr 110px;
    overflow: hidden;
    margin: 0 auto;
  }
  .after-swiper-nosotros {
    width: 75%;
    height: 25vw;
    margin: 50px auto 150px;
  }
  .after-swiper-nosotros .btn-nav-swiper {
    top: 28vw;
  }
}

@media (min-width: 1240px) {
  .nosotros {
    -ms-grid-columns: 1fr 555px 555px 1fr;
        grid-template-columns: 1fr 555px 555px 1fr;
  }
  .nosotros .header-secciones {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .nosotros .pie-seccion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
  }
  .after-swiper-nosotros {
    height: 20vw;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .after-swiper-nosotros .btn-nav-swiper {
    top: 23vw;
  }
}

.equipo .header-secciones {
  margin-bottom: 80px;
}

.carta-principal {
  max-width: 400px;
  padding-bottom: 40px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.carta-principal .imagen-persona-principal {
  width: 100%;
  height: 85vw;
  min-height: 300px;
  max-height: 400px;
  background: white;
}

.carta-principal .nombre-persona-principal {
  margin: 30px 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1.375rem, 2.6vw, 2rem);
}

.carta-principal .cargo-persona-principal {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.375rem;
}

.carta-principal .redes-persona-principal {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carta-principal .links-redes {
  width: 35px;
  height: 100%;
  margin: 0 3px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenido-equipo {
  position: relative;
  z-index: -2;
  padding: 15px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  background: #f6f7f8;
  color: red;
}

.contenido-equipo .carta-equipo {
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-bottom: 20px;
  margin: auto;
  background: aqua;
  text-align: center;
}

.contenido-equipo .carta-equipo::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  bottom: -5px;
  width: 50px;
  height: 50px;
  background: black;
}

.contenido-equipo .img-persona {
  width: 100%;
  height: 85vw;
  min-height: 280px;
  max-height: 340px;
  background: red;
}

.contenido-equipo .nombre-persona {
  margin: 15px 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.contenido-equipo .cargo-persona {
  text-transform: capitalize;
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  .contenido-equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .contenido-equipo .carta-equipo {
    margin: 0 auto;
  }
  .contenido-equipo .img-persona {
    height: 45vw;
  }
}

@media (min-width: 1024px) {
  .equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .equipo .contenedor-gral {
    padding-right: 15px;
    padding-bottom: 200px;
  }
  .equipo .carta-grande {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
  }
  .carta-principal {
    max-width: 650px;
    margin-right: 0;
  }
  .carta-principal .imagen-persona-principal {
    height: 55vw;
    max-height: 650px;
  }
  .contenido-equipo {
    padding: 215px 60px 215px 15px;
    -ms-grid-rows: 420px 420px;
        grid-template-rows: 420px 420px;
  }
  .contenido-equipo .carta-equipo {
    margin: 0 auto 0 0;
  }
  .contenido-equipo .img-persona {
    height: 25vw;
  }
}

@media (min-width: 1440px) {
  .contenido-equipo {
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
}

.blog .contenedor-gral {
  max-width: 720px;
  margin: 0 auto;
}

.blog .header-secciones {
  margin-bottom: 100px;
}

.carta-blog {
  width: 100%;
  height: 280px;
  margin-bottom: 40px;
  color: white;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.carta-blog .contenido-carta {
  position: relative;
  width: 90%;
  height: 40%;
  max-width: 270px;
  padding: 20px 10px 20px 40px;
  margin-bottom: 30px;
  margin-left: 20px;
  background: black;
}

.carta-blog .fecha {
  position: absolute;
  left: -25px;
  top: 45px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.75rem;
}

.carta-blog .titulo-carta-blog {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.carta-blog-grande {
  width: 100%;
  margin-bottom: 40px;
  height: 530px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  background: red;
}

.carta-blog-grande .contenido-carta-grande {
  position: relative;
  width: 80%;
  min-height: 390px;
  padding: 15px;
  margin-right: 15px;
  border: 15px solid black;
}

.carta-blog-grande .titulo-carta-blog {
  max-width: 350px;
  text-transform: uppercase;
  font-size: clamp(1.125rem, 2.5vw, 1.875rem);
}

.carta-blog-grande .descripcion-carta-blog {
  max-width: 400px;
  margin: 20px 0px;
  font-size: 0.75rem;
  line-height: 2;
}

.carta-blog-grande .btn-principal {
  margin-bottom: 0px;
  padding: 0;
  background: none;
  letter-spacing: 3px;
}

.carta-blog-grande .fecha {
  position: absolute;
  left: -90px;
  top: 45px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

@media (min-width: 1024px) {
  .blog {
    padding: 100px 0px 15px;
  }
  .blog .contenedor-gral {
    max-width: 940px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: 100px 250px 250px 110px;
        grid-template-rows: 100px 250px 250px 110px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
    row-gap: 30px;
  }
  .blog .header-secciones {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .blog .carta-blog {
    margin: 0;
    height: 100%;
  }
  .blog .carta-blog-grande {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
}

@media (min-width: 1240px) {
  .blog .contenedor-gral {
    max-width: 1440px;
    padding: 0 60px;
  }
  .blog .carta-blog {
    position: relative;
  }
  .blog .carta-blog .contenido-carta {
    position: absolute;
    left: -40px;
  }
  .blog .carta-blog-grande {
    position: relative;
  }
  .blog .carta-blog-grande .contenido-carta-grande {
    position: absolute;
    right: -50px;
  }
}

.datos {
  padding-bottom: 80px;
  background-color: black;
  color: white;
}

.carta-datos {
  position: relative;
  padding: 20px 20px 40px;
  margin-bottom: 70px;
  border: 15px solid white;
}

.carta-datos .sub-textos {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 7.5vw, 2.5rem);
}

.carta-datos .titulos-principales {
  margin: 10px 0px 20px;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 7.5vw, 2.5rem);
  font-weight: 600;
}

.carta-datos .descripcion-carta-datos {
  text-transform: uppercase;
  line-height: 1.7;
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  font-weight: 300;
}

.carta-datos::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 25%;
  width: 15px;
  height: 50%;
  background: black;
}

.contenido-numeros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contenido-numeros .titulo-datos {
  position: relative;
  width: 120px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: clamp(2.3rem, 4vw, 2.7rem);
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}

.contenido-numeros .titulo-datos::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  height: 3px;
  background: white;
}

.contenido-numeros .mini-texto {
  text-transform: uppercase;
  font-size: 0.75rem;
}

@media (min-width: 420px) {
  .carta-datos {
    padding: 50px 30px 50px 40px;
  }
}

@media (min-width: 768px) {
  .numeros-animados-js {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carta-datos,
  .numeros-animados-js {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .datos {
    padding-bottom: 0;
  }
  .datos .contenedor-gral {
    max-width: 1440px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    padding-bottom: 100px;
  }
  .datos .carta-datos {
    padding: 50px;
    margin-bottom: 0px;
  }
  .datos .numeros-animados-js {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.swiper-container-cinco {
  position: relative;
  width: 100%;
  margin: 100px 0px 20px;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.swiper-container-cinco .swiper-pagination {
  margin-top: 50px;
}

.swiper-container-cinco .swiper-pagination-bullet {
  width: 20px !important;
  background: black;
  border-radius: 0;
}

.carta-testimonio {
  position: relative;
  padding: 3px 0px 0px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.carta-testimonio .img-testimonio {
  width: 80px;
  height: 80px;
  background: white;
  border: 1px solid black;
}

.carta-testimonio .contenido-carta-testimonio {
  width: 98%;
  padding: 40px 20px 30px;
  background: white;
  -webkit-box-shadow: 5px 5px 5px #e4e4e4;
          box-shadow: 5px 5px 5px #e4e4e4;
}

.carta-testimonio .nombre-persona-testimonio {
  text-transform: uppercase;
  font-weight: 700;
}

.carta-testimonio .titulo-persona-testimonio {
  margin-bottom: 20px;
  font-size: 0.75rem;
}

.carta-testimonio .icono {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
}

.carta-testimonio .contenido-persona-testimonio {
  font-size: 0.75rem;
  line-height: 2;
}

.carta-testimonio::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 30px;
  background: black;
}

@media (min-width: 1024px) {
  .testimonios .contenedor-gral {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.black-bg {
  color: white;
  background: black;
}

.black-bg .titulos-after:after {
  background: white;
}

.clientes .header-secciones {
  margin-bottom: 80px;
}

.swiper-container-seis {
  position: relative;
  overflow-x: hidden;
  height: 180px;
  color: black;
}

.swiper-container-seis .swiper-pagination {
  background: black;
}

.swiper-container-seis .swiper-pagination-progressbar-fill {
  background: white !important;
}

.swiper-container-seis .swiper-slide {
  height: 120px;
  background: white;
}

.swiper-container-seis .swiper-button-next,
.swiper-container-seis .swiper-button-prev {
  top: 150px;
  height: 30px;
  width: 30px;
}

.swiper-container-seis .swiper-button-next::after,
.swiper-container-seis .swiper-button-prev::after {
  font-size: 0.8rem;
  color: white;
}

.swiper-container-seis .swiper-button-prev {
  left: 200px !important;
}

@media (min-width: 1024px) {
  .clientes .contenedor-gral {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 180px;
        grid-template-rows: 180px;
    padding: 50px 60px;
    max-width: 1240px;
    margin: 0 auto;
  }
  .clientes .header-secciones {
    margin: 0;
  }
}

.footer-principal {
  padding-bottom: 80px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.813rem;
}

.footer-principal .logo-footer {
  width: 150px;
  height: 60px;
  margin: 0 auto 20px;
  border: 1px solid black;
}

.footer-principal .logo-f {
  width: 150px;
  height: 60px;
  background: red;
}

.footer-principal .copy {
  text-align: center;
}

.footer-principal .info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-principal .links-footer {
  position: relative;
  min-width: 250px;
  padding: 5px 10px;
  margin: 20px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-principal .links-footer::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2px;
  height: 100%;
  background: black;
}

@media (min-width: 1024px) {
  .footer-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-principal .logo-footer,
  .footer-principal .copy,
  .footer-principal .links-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 33%;
            flex: 0 33%;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 380px;
  }
}

.btn-flotante-inicio {
  width: 40px;
  height: 40px;
  background: black;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-paginas-secundarias {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 70px;
  background: black;
}

.header-paginas-secundarias .contenedor-gral-pag-sec {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.header-paginas-secundarias .contenido-header-pag-sec {
  position: relative;
  width: 230px;
  min-height: 300px;
  margin: 0 auto;
  padding: 60px 0px 60px 25px;
  border: 10px solid white;
  border-right: none;
}

.header-paginas-secundarias .contenido-header-pag-sec:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 10px;
  height: 50px;
  background: white;
}

.header-paginas-secundarias .contenido-header-pag-sec:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 10px;
  height: 50px;
  background: white;
}

.header-paginas-secundarias .titulo-pag-sec {
  margin: 30px 0px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

.header-paginas-secundarias .nav-header-pag-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  margin: 25px auto 0;
}

.header-paginas-secundarias .li-header-pag-sec {
  padding: 0 10px 0px 0px;
  font-size: 12px;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}

.header-paginas-secundarias .li-header-pag-sec i {
  margin-left: 5px;
}

.contenedor-gral-pag-sec {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 15px;
}

.footer-pag-sec {
  background: #fafafa;
  border-top: 1px solid #e4e4e4;
}

@media (min-width: 768px) {
  .header-paginas-secundarias .titulo-pag-sec {
    position: relative;
    width: 650px;
    margin-top: 35px;
  }
  .header-paginas-secundarias .contenido-header-pag-sec {
    width: 200px;
    min-height: 220px;
    margin-left: 0;
  }
  .header-paginas-secundarias .nav-header-pag-sec {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .header-paginas-secundarias {
    padding: 120px 40px;
  }
  .header-paginas-secundarias .contenedor-gral-pag-sec {
    padding: 0;
  }
  .footer-pag-sec {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1160px) {
  .contenedor-gral-pag-sec {
    padding: 100px 0px;
  }
}

.cartas-noticias {
  max-width: 720px;
  margin: 0 auto 40px;
  border: 1px solid #e4e4e4;
  background: #fafafa;
}

.cartas-noticias .img-cartas-noticias {
  height: 60vw;
  max-height: 447px;
  width: 100%;
  background: black;
}

.cartas-noticias .contenido-cartas-noticias {
  padding: 50px 20px 0px;
}

.cartas-noticias .textos-comunes {
  max-width: 100%;
  margin: 0;
  text-align: justify;
  line-height: 2.1;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.cartas-noticias .linea {
  position: absolute;
  right: -10px;
  top: 0;
  width: 1px;
  height: 80%;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  background: #acacac;
}

.cartas-noticias .btn-principal {
  height: auto;
  width: 50%;
  max-width: 150px;
  margin: 20px 0px;
  margin-left: auto;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #acacac;
  background: none;
  color: black;
}

.nav-noticias {
  height: 30px;
  width: 210px;
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-noticias .links-nav-noticias {
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dddddd;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .cartas-blog-pag-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 940px;
  }
  .cartas-blog-pag-sec .img-cartas-blog {
    width: 70%;
  }
  .cartas-blog-pag-sec .contenido-cartas-blog {
    width: 30%;
    padding: 25px;
  }
  .cartas-blog-pag-sec:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 1240px) {
  .cartas-blog-pag-sec {
    max-width: 100%;
    height: 410px;
  }
  .cartas-blog-pag-sec .img-cartas-blog {
    width: 60%;
    max-height: 410px;
  }
  .cartas-blog-pag-sec .contenido-cartas-blog {
    width: 40%;
  }
}

.contenido-trabajos .contenedor-gral-pag-sec {
  max-width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 125vw 40vw (125vw)[4] 40vw (125vw)[4] 40vw;
      grid-template-rows: 125vw 40vw repeat(4, 125vw) 40vw repeat(4, 125vw) 40vw;
  row-gap: 30px;
}

.contenido-trabajos .img-trabajos-grandes {
  background: red;
}

.contenido-trabajos .img-trabajos-pequeños {
  background: blue;
}

@media (min-width: 600px) {
  .contenido-trabajos .contenedor-gral-pag-sec {
    -ms-grid-rows: 105vw 40vw (105vw)[4] 40vw (105vw)[4] 40vw;
        grid-template-rows: 105vw 40vw repeat(4, 105vw) 40vw repeat(4, 105vw) 40vw;
  }
}

@media (min-width: 768px) {
  .contenido-trabajos .contenedor-gral-pag-sec {
    max-width: 1440px;
    padding: 100px 15px;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (300px)[11];
        grid-template-rows: repeat(11, 300px);
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(5) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(8) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(9) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7 / 9;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(10) {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10 / 12;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(11) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9 / 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (min-width: 1024px) {
  .contenido-trabajos {
    padding: 0 40px;
  }
  .contenido-trabajos .contenedor-gral-pag-sec {
    padding: 100px 0px;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-grid-rows: (250px)[7];
        grid-template-rows: repeat(7, 250px);
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5 / 7;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
  }
  .contenido-trabajos .img-trabajos-grandes:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .contenido-trabajos .img-01 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .contenido-trabajos .img-02 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .contenido-trabajos .img-03 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

.swiper-blog-principal {
  height: 60vw;
  min-height: 200px;
  max-height: 450px;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  overflow-x: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contenido-blog .contenedor-gral-pag-sec {
  padding-bottom: 0px;
}

.contenido-blog .descripcion-post-principal-blog {
  margin-top: 20px;
  margin: 0 auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contenido-blog .titulos-cartas-pag-sec {
  margin: 20px 0px;
  font-size: clamp(1.2rem, 4.5vw, 2rem);
}

.contenido-blog .textos-comunes {
  max-width: 100%;
  text-align: justify;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.contenido-blog .tags {
  margin: 0 auto;
}

.contenido-blog .tags .titulos-cartas-pag-sec {
  font-size: 1.2rem;
}

.contenido-blog .tags .links-tags {
  font-size: 0.75rem;
}

.contenido-blog .lista-tags {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenido-blog .links-tags {
  margin: 3px 2px;
  padding: 8px 13px;
  background: #f0f0f0;
  letter-spacing: 0px;
}

.contenido-blog .compartir {
  position: relative;
  padding: 50px 0px;
}

.contenido-blog .compartir .titulos-cartas-pag-sec {
  font-size: 1.2rem;
}

.contenido-blog .compartir::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #cccccc;
}

.contenido-blog .lista-compartir {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenido-blog .links-compartir {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7c7c7c;
  font-size: 16px;
  border: 1px solid #cccccc;
}

.contenido-blog .swiper-blog-post-relacionados {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: 50px;
  padding-top: 70px;
}

.contenido-blog .img-post-relacionados {
  width: 100%;
  height: 55vw;
  background: red;
}

.contenido-blog .contenido-post-relacionados {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.contenido-blog .contenido-post-relacionados .titulos-cartas-pag-sec {
  line-height: 1.7;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  letter-spacing: 1px;
}

.contenido-blog .contenido-post-relacionados .textos-comunes {
  line-height: 2.2;
}

.contenido-blog .contenido-post-relacionados .btn-principal {
  width: 60%;
  height: 45px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
}

.contenido-blog .slide-blog-post-relacionados {
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f0f0f0;
}

.contenido-blog .btn-nav-swiper {
  top: 25px;
  right: 0;
}

.contenido-blog .swiper-button-prev {
  margin-left: auto;
  margin-right: 50px;
}

.contenido-blog .carta-comentarios {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contenido-blog .img-user-comentarios {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  background: black;
  border-radius: 50%;
}

.contenido-blog .contenido-comentarios {
  padding: 0px 10px 0px 0px;
}

.contenido-blog .contenido-comentarios .titulos-cartas-pag-sec {
  margin: 0px 0px 15px 0px;
  font-size: 1rem;
}

.contenido-blog .contenido-comentarios .datos-cartas-pag-sec {
  margin: 15px 0px;
  font-size: 0.75rem;
}

.contenido-blog .contenido-comentarios .textos-comunes {
  margin-top: 15px;
  text-align: left;
}

.contenido-blog .form-comentarios {
  width: 100%;
  padding: 20px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f7f7f7;
}

.contenido-blog .form-comentarios .btn-principal {
  width: 100%;
  max-width: 250px;
  margin: 20px 0px 0px 0px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-blog .inputs-form-comentarios {
  width: 100%;
  height: 40px;
  margin: 20px 0px;
  background: #f7f7f7;
  border: none;
  border-bottom: 4px solid #a5a5a5;
  font-size: 0.75rem;
  outline: none;
}

.contenido-blog .inputs-form-comentarios::-webkit-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.contenido-blog .inputs-form-comentarios:-ms-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.contenido-blog .inputs-form-comentarios::-ms-input-placeholder {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.contenido-blog .inputs-form-comentarios::placeholder {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.contenido-blog .textarea {
  height: 100px;
  resize: none;
}

@media (min-width: 768px) {
  .contenido-blog .contenido-blog-principal {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    padding-bottom: 50px;
  }
  .contenido-blog .contenido-blog-principal:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 5%;
    height: 3px;
    width: 90%;
    background: #cccccc;
  }
  .contenido-blog .descripcion-post-principal-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
  }
  .contenido-blog .descripcion-post-principal-blog .titulos-cartas-pag-sec {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .contenido-blog .descripcion-post-principal-blog .textos-comunes {
    padding: 0px 50px 0px 0px;
  }
  .contenido-blog .descripcion-post-principal-blog .datos-cartas-pag-sec {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 0px;
  }
  .contenido-blog .tags,
  .contenido-blog .compartir {
    padding: 0px 50px 0px 0px;
  }
  .contenido-blog .compartir:after {
    display: none;
  }
}

@media (min-width: 1024px) {
  .swiper-blog-principal {
    max-width: 100%;
    max-height: 350px;
  }
}

@media (min-width: 480px) {
  .contenido-blog .img-post-relacionados {
    height: 30vw;
  }
  .contenido-blog .slide-blog-post-relacionados {
    min-height: 500px;
  }
}

@media (min-width: 900px) {
  .contenido-blog .img-post-relacionados {
    height: 20vw;
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .contenido-blog .contenido-comentarios .textos-comunes {
    max-width: 80%;
  }
  .contenido-blog .form-comentarios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenido-blog .form-comentarios .titulos-cartas-pag-sec {
    width: 100%;
  }
  .contenido-blog #nombre,
  .contenido-blog #correo,
  .contenido-blog #sitio-web {
    width: 30%;
  }
  .contenido-blog #correo {
    margin: 20px auto;
  }
}
/*# sourceMappingURL=styles.css.map */