@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$fuente-principal: "Poppins", sans-serif;
$fuente-secundaria: "Roboto Condensed", sans-serif;

//MIXINS
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//GENERALES

body {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fuente-principal;
}

img {
  width: 100%;
}

.contenedor-gral {
  padding: 100px 15px 15px;
}

@media (min-width: 768px) {
  .contenedor-gral {
    padding: 100px 60px 15px;
  }
}

.contenedor-gral-dos {
  padding: 100px 15px 15px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contenedor-gral-dos {
    padding: 100px 60px 15px;
  }
}
@media (min-width: 1240px) {
  .contenedor-gral-dos {
    max-width: 1440px;
  }
}

.oculto {
  display: none;
}

ul {
  list-style-type: none;
}

.header-secciones {
  margin-bottom: 30px;
  .sub-textos {
    text-transform: uppercase;
    font-size: clamp(1.125rem, 3.5vw, 1.875rem);
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .titulos-principales {
    text-transform: uppercase;
    font-size: clamp(1.875rem, 4.5vw, 2.5rem);
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    margin-bottom: 30px;
  }
}
.header-secciones {
  .titulos-after {
    font-size: clamp(1.625rem, 4vw, 2.25rem);
  }
}

//BOTONES
.btn-principal {
  background: black;
  color: white;
  max-width: 200px;
  height: 60px;
  @include flexbox(row, space-between, center);
  padding: 0px 25px 0px 35px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 0.75rem;
  margin-bottom: 70px;
  .linea-boton {
    background: white;
    width: 20px;
    height: 1px;
  }
}

//NAV PRINCIPAL
.nav-principal {
  height: 70px;
  @include flexbox(row, flex-start, center);
  padding: 0px 15px;
  .logo {
    width: 40%;
    max-width: 116px;
    height: 70%;
    border: 1px solid black;
  }
  .contenido {
    width: calc(100% - 116px);
    height: 100%;
    @include flexbox(row, flex-end, center);
  }
  .menu-mobile {
    width: 75%;
    max-width: 150px;
    height: 30px;
    @include flexbox(row, space-between, center);
    font-size: 0.8rem;
  }
  .item-menu-mobile {
    @include flexbox(column, center, center);
    width: 25px;
    height: 100%;
  }
  .hamburguesa {
    background: black;
    width: 85%;
    height: 3px;
    margin: 2px;
  }
}
@media (min-width: 768px) {
  .nav-principal {
    height: 85px;
  }
  .contenido {
    .menu-mobile {
      display: none;
    }
    .oculto {
      @include flexbox(row, flex-end, center);
      width: calc(100%);
      height: 100%;
    }
    .item-menu-desktop {
      margin-left: 20px;
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 2px;
      font-weight: 500;
    }
    .font-aw {
      margin-right: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .nav-principal {
    padding: 0px 80px;
  }
}

//SWIPER HEADER
.swiper-container {
  width: 100%;
  height: calc(100vh - 70px);
  .swiper-button-white {
    display: none;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  @include flexbox(row, center, flex-end);
  .contenido-slider {
    background: rgb(241, 241, 241);
    padding: 40px 20px 60px;
    width: 80%;
    margin-bottom: 70px;
    text-align: center;
  }
  .mini-titulo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: clamp(0.75rem, 1.1vw, 1.125rem);
    margin-bottom: 15px;
  }
  .mini-sub {
    text-transform: capitalize;
    font-size: clamp(1.438rem, 3.1vw, 2.813rem);
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .mini-texto {
    font-size: clamp(0.688rem, 1vw, 1rem);
  }
}
.slide-01 {
  background: red;
}
.slide-02 {
  background: blue;
}
.slide-03 {
  background: green;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
@media (min-width: 768px) {
  .header-principal {
    margin-bottom: 100px;
    overflow-y: visible;
    padding-bottom: 100px !important;
    .swiper-pagination {
      display: none;
    }
    .swiper-button-white {
      display: block;
      color: white;
      top: 35%;
      padding: 25px;
      font-size: 0.5rem;
      @include flexbox(row, center, center);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.5rem;
    }
  }
  .swiper-slide {
    .contenido-slider {
      margin-bottom: -40px;
    }
  }
}
@media (min-width: 1024px) {
  .swiper-container {
    padding: 0px 80px 100px !important;
    .swiper-button-white {
      padding: 35px;
      background: white;
      color: black;
    }
    .swiper-button-next {
      margin-right: 35px;
    }
    .swiper-button-prev {
      margin-left: 35px;
    }
  }
}

//INICIO CONTENIDO PRINCIPAL
.contenido-principal {
  background: #f6f7f8;
}

.pie-titulos {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
  max-width: 85%;
}
.textos-comunes {
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 30px;
  font-weight: 400;
  max-width: 85%;
}

.swiper-container-dos {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 20px;
  position: relative;
  background: white;
  .swiper-slide {
    border: 1px solid black;
  }
}
.pie-seccion {
  position: relative;
  @include flexbox(column, center, flex-end);
  padding-right: 30px;
  line-height: 1.1;
  text-transform: uppercase;
  .pie-difuminado {
    color: rgba(191, 191, 191, 0.3);
    font-size: clamp(2.875rem, 8vw, 5rem);
    font-weight: 900;
    text-align: right;
  }
  .pie-sub {
    font-family: $fuente-secundaria;
    font-size: clamp(1.125rem, 2.5vw, 1.5rem);
    line-height: 18px;
  }
}
.pie-seccion:after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 100%;
  background: black;
}

//CONTENIDO PRINCIPAL QUERYS

@media (min-width: 420px) {
  .contenido-principal {
    position: relative;
    z-index: 2; //PARA QUE FUNCIONE EL AFTER DEL SLIDER
  }
  .swiper-container-dos {
    height: 100%;
    .swiper-slide {
      background: white;
    }
  }
  .after-swiper {
    margin-bottom: 150px;
    width: 85%;
    max-width: 620px;
    height: 47vw;
    max-height: 380px;
    margin-left: auto;
    position: relative;
  }
  .after-swiper:after {
    content: "";
    position: absolute;
    left: -50px;
    bottom: -50px;
    width: 85%;
    height: 85%;
    border: 20px solid rgb(212, 212, 212);
  }
}
@media (min-width: 768px) {
  .after-swiper::after {
    border: 30px solid rgb(212, 212, 212);
    left: -70px;
    bottom: -70px;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .contenedor-gral-dos {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 110px;
  }
  .pie-seccion {
    grid-column: 1 / 3;
  }
  .after-swiper {
    width: 425px;
    height: 275px;
  }
}
@media (min-width: 1238px) {
  .after-swiper {
    width: 85%;
    height: 345px;
  }
}

//ULTIMOS PROYECTOS
.proyectos {
  overflow-x: hidden;
}

.titulos-after:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background: black;
  bottom: -40px;
  left: 0px;
}

.filtro-proyectos {
  @include flexbox(row, space-evenly, center);
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 60px;
  .item-proyectos {
    flex: 0 121px;
    @include flexbox(row, center, center);
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .item-proyectos:nth-child(1) {
    color: #d5dd02;
  }
  .item-proyectos::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0px;
    width: 1px;
    height: 100%;
    background: black;
    transform: skew(-15deg);
  }
  .item-proyectos:nth-child(1)::after,
  .item-proyectos:nth-child(3)::after {
    visibility: hidden;
  }
}
.swiper-container-tres {
  height: 500px;
  overflow: hidden;
  margin-bottom: 100px;

  .swiper-slide {
    @include flexbox(row, center, center);
    background: red;
  }
}
.btn-proyectos {
  margin: 20px 0px;
  @include flexbox(row, flex-start, center);
  .btn {
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    @include flexbox(row, center, center);
    font-size: 0.9rem;
  }
  .btn-izq {
    margin-right: 10px;
  }
}
@media (min-width: 453px) {
  .filtro-proyectos {
    .item-proyectos:nth-child(3)::after {
      visibility: visible;
    }
  }
}
@media (min-width: 580px) {
  .filtro-proyectos {
    justify-content: flex-end;
  }
  .swiper-container-tres {
    height: 65vw;
  }
}
@media (min-width: 1024px) {
  .proyectos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 1fr 110px;

    .filtro-proyectos {
      align-items: flex-end;
    }
    .item-proyectos:nth-child(4) {
      margin-right: 0px;
    }
    .titulos-principales {
      margin: 0;
      font-size: 2.2rem;
    }
  }
  .swiper-container-tres {
    grid-column: 1 / 3;
    height: 45vw;
  }
}
@media (min-width: 1240px) {
  .swiper-container-tres {
    height: 35vw;
  }
}
@media (min-width: 1440px) {
  .swiper-container-tres {
    height: 25vw;
  }
}
//NOSOTROS

.swiper-container-cuatro {
  background: red;
  height: 100%;
  overflow: hidden;
}
.after-swiper-nosotros {
  margin-bottom: 50px;
  height: 50vw;
  margin-left: auto;
  position: relative;
}
@media (min-width: 620px) {
  .after-swiper-nosotros {
    width: 85%;
    margin: 120px auto 50px 0px;
  }
  .after-swiper-nosotros:after {
    content: "";
    position: absolute;
    left: -0px;
    bottom: -0px;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    border-right: 20px solid black;
    border-top: 20px solid black;
  }
  .after-swiper-nosotros::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: aqua;
    left: 70px;
    bottom: 70px;
    margin-left: auto;
    margin-right: 0;
    z-index: -2;
  }
}
@media (min-width: 768px) {
  .after-swiper-nosotros {
    height: 40vw;
  }
}
@media (min-width: 1024px) {
  .nosotros {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 110px;
    overflow: hidden;
    column-gap: 20px;
    margin: 0 auto;
  }
  .after-swiper-nosotros {
    width: 75%;
    height: 25vw;
    margin: 50px 0px 0px 0px;
  }
}
@media (min-width: 1240px) {
  .nosotros {
    grid-template-columns: 49% 49%;
    max-width: 1440px;
  }
  .after-swiper-nosotros {
    height: 20vw;
    max-height: 300px;
  }
}

//EQUIPO
.equipo {
  .header-secciones {
    margin-bottom: 80px;
  }
}
.carta-principal {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  max-width: 400px;
  margin: 0 auto;
  .imagen-persona-principal {
    width: 100%;
    min-height: 300px;
    height: 85vw;
    max-height: 400px;
    background: white;
  }
  .nombre-persona-principal {
    text-transform: uppercase;
    margin: 30px 0px;
    font-weight: 500;
    font-size: clamp(1.375rem, 2.6vw, 2rem);
  }
  .cargo-persona-principal {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.375rem;
    margin-bottom: 30px;
  }
  .redes-persona-principal {
    width: 100%;
    height: 35px;
    @include flexbox(row, center, center);
  }
  .links-redes {
    width: 35px;
    height: 100%;
    margin: 0 3px;
    border: 1px solid white;
    @include flexbox(row, center, center);
  }
}
.contenido-equipo {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  background: #f6f7f8;
  color: red;
  padding: 15px 15px;
  .carta-equipo {
    text-align: center;
    position: relative;
    background: white;
    background: black;
    padding-bottom: 20px;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .carta-equipo::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: -5px;
    bottom: -5px;
    background: black;
    z-index: -1;
  }

  .img-persona {
    background: red;
    width: 100%;
    min-height: 280px;
    height: 85vw;
    max-height: 300px;
  }
  .nombre-persona {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin: 15px 0 5px;
  }
  .cargo-persona {
    text-transform: capitalize;
    font-size: 0.75rem;
  }
}
@media (min-width: 600px) {
  .contenido-equipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    .carta-equipo {
      margin: 0 auto;
    }
    .img-persona {
      height: 45vw;
    }
  }
}
@media (min-width: 1024px) {
  .equipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .contenedor-gral {
      padding-right: 15px;
      padding-bottom: 200px;
    }
    .carta-grande {
      width: 100%;
      max-width: 550px;
      margin-left: auto;
    }
  }
  .carta-principal {
    max-width: 550px;
    margin-right: 0;
    .imagen-persona-principal {
      max-height: 555px;
      height: 55vw;
    }
  }
  .contenido-equipo {
    padding: 215px 60px 215px 15px;
    grid-template-rows: 380px 380px;
    .carta-equipo {
      margin: 0 auto 0 0;
    }

    .img-persona {
      height: 15vw;
    }
  }
}
@media (min-width: 1440px) {
  .contenido-equipo {
    grid-template-columns: 300px 300px;
  }
}

//BLOG
.blog {
  padding: 100px 15px 15px;
  .contenedor-gral {
    max-width: 720px;
    margin: 0 auto;
    padding: 0px;
  }
  .header-secciones {
    margin-bottom: 100px;
  }
}
.carta-blog {
  color: white;
  background: rgb(255, 0, 0);
  margin-bottom: 40px;
  height: 280px;
  width: 100%;
  @include flexbox(row, flex-start, flex-end);

  .contenido-carta {
    padding: 20px 10px 20px 40px;
    position: relative;
    background: black;
    width: 90%;
    height: 40%;
    margin-bottom: 30px;
    max-width: 270px;
    margin-left: 20px;
  }
  .fecha {
    position: absolute;
    left: -25px;
    top: 45px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-size: 0.75rem;
  }
  .titulo-carta-blog {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}
.carta-blog-grande {
  color: white;
  background: rgb(255, 0, 0);
  margin-bottom: 40px;
  height: 530px;
  width: 100%;
  @include flexbox(row, flex-end, flex-end);
  padding-bottom: 30px;
  .contenido-carta-grande {
    border: 15px solid rgb(0, 0, 0);
    padding: 15px;
    position: relative;
    width: 80%;
    margin-right: 15px;
    min-height: 390px;
  }
  .titulo-carta-blog {
    text-transform: uppercase;
    font-size: clamp(1.125rem, 2.5vw, 1.875rem);
    max-width: 350px;
  }
  .descripcion-carta-blog {
    font-size: 0.75rem;
    margin: 20px 0px;
    line-height: 2;
    max-width: 400px;
  }
  .btn-principal {
    margin-bottom: 0px;
    padding: 0;
    background: none;
    letter-spacing: 3px;
  }
  .fecha {
    position: absolute;
    left: -90px;
    top: 45px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: 900;
    color: white;
  }
}
@media (min-width: 1024px) {
  .blog {
    padding: 100px 0px 15px;
    .contenedor-gral {
      max-width: 940px;
      display: grid;
      grid-template-columns: 49% 49%;
      grid-template-rows: 100px 250px 250px 110px;
      column-gap: 25px;
      row-gap: 30px;
    }
    .header-secciones {
      grid-column: 1 / 3;
    }
    .carta-blog {
      margin: 0;
      height: 100%;
    }
    .carta-blog-grande {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }
}
@media (min-width: 1240px) {
  .blog {
    .contenedor-gral {
      max-width: 1240px;
      padding: 0 60px;
    }
    .carta-blog {
      position: relative;
      .contenido-carta {
        position: absolute;
        left: -40px;
      }
    }
    .carta-blog-grande {
      position: relative;
      .contenido-carta-grande {
        position: absolute;
        right: -50px;
      }
    }
  }
}

//DATOS
.datos {
  background-color: black;
  color: white;
  padding-bottom: 80px;
}
.carta-datos {
  padding: 20px 20px 40px;
  border: 15px solid rgb(255, 255, 255);
  position: relative;
  margin-bottom: 70px;
  .sub-textos {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 7.5vw, 2.5rem);
  }
  .titulos-principales {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 7.5vw, 2.5rem);
    margin: 10px 0px 20px;
    font-weight: 600;
  }
  .descripcion-carta-datos {
    text-transform: uppercase;
    line-height: 1.7;
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 300;
  }
}
.carta-datos::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 25%;
  width: 15px;
  height: 50%;
  background: black;
}

.contenido-numeros {
  @include flexbox(column, center, center);
  margin-bottom: 50px;
  .titulo-carta-blog {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 120px;
    text-align: center;
  }
  .titulo-carta-blog::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    background: white;
    width: 50%;
    height: 3px;
  }
  .mini-texto {
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
@media (min-width: 420px) {
  .carta-datos {
    padding: 50px 30px 50px 40px;
  }
}
@media (min-width: 768px) {
  .numeros-animados-js {
    @include flexbox(row, space-between, center);
  }
  .carta-datos,
  .numeros-animados-js {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .datos {
    padding-bottom: 0;
    .contenedor-gral {
      max-width: 1240px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 49% 49%;
      grid-template-rows: 1fr;
      column-gap: 15px;
      padding-bottom: 100px;
    }
    .carta-datos {
      padding: 50px;
      margin-bottom: 0px;
    }
    .numeros-animados-js {
      flex-direction: column;
    }
  }
}

//TESTIMONIOS
.swiper-container-cinco {
  width: 100%;
  position: relative;
  margin: 100px 0px 20px;
  padding-bottom: 80px;
  overflow-x: hidden;

  .swiper-pagination {
    margin-top: 50px;
  }
  .swiper-pagination-bullet {
    background: black;
    border-radius: 0;
    width: 20px !important;
  }
}
.carta-testimonio {
  position: relative;
  @include flexbox(column, flex-start, flex-start);
  padding: 3px 0px 0px 3px;
  .img-testimonio {
    background: white;
    border: 1px solid black;
    width: 80px;
    height: 80px;
  }
  .contenido-carta-testimonio {
    background: white;
    box-shadow: 5px 5px 5px rgb(228, 228, 228);
    padding: 40px 20px 30px;
    width: 98%;
  }
  .nombre-persona-testimonio {
    text-transform: uppercase;
    font-weight: 700;
  }
  .titulo-persona-testimonio {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .icono {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
  }
  .contenido-persona-testimonio {
    font-size: 0.75rem;
    line-height: 2;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 30px;
    background: black;
    z-index: -1;
  }
}
@media (min-width: 1024px) {
  .testimonios {
    .contenedor-gral {
      max-width: 1240px;
      margin: 0 auto;
    }
  }
}

//CLIENTES
.black-bg {
  background: black;
  color: white;
  .titulos-after:after {
    background: white;
  }
}
.clientes {
  .header-secciones {
    margin-bottom: 80px;
  }
}
.swiper-container-seis {
  overflow-x: hidden;
  position: relative;
  overflow-x: hidden;
  color: black;
  height: 180px;
  .swiper-pagination {
    background: black;
  }
  .swiper-pagination-progressbar-fill {
    background: white !important;
  }
  .swiper-slide {
    height: 120px;
    background: white;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 150px;
    height: 30px;
    width: 30px;
    &::after {
      font-size: 0.8rem;
      color: white;
    }
  }
  .swiper-button-prev {
    left: 200px !important;
  }
}

@media (min-width: 1024px) {
  .clientes {
    .contenedor-gral {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 180px;
      padding: 50px 60px;
      max-width: 1240px;
      margin: 0 auto;
    }
    .header-secciones {
      margin: 0;
    }
  }
}

//FOOTER
.footer-principal {
  padding-bottom: 80px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.813rem;
  .logo-footer {
    border: 1px solid black;
    width: 150px;
    height: 60px;
    margin: 0 auto 20px;
  }
  .logo-f {
    background: red;
    width: 150px;
    height: 60px;
  }
  .copy {
    text-align: center;
  }
  .info-footer {
    @include flexbox(column, center, center);
  }
  .links-footer {
    padding: 5px 10px;
    min-width: 250px;
    @include flexbox(row, center, center);
    position: relative;
    margin: 20px 0px 10px;
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 2px;
      height: 100%;
      background: black;
    }
  }
}
@media (min-width: 1024px) {
  .footer-principal {
    @include flexbox(row, center, center);
    .logo-footer,
    .copy,
    .links-footer {
      flex: 0 33%;
      margin-left: 20px;
      margin-right: 20px;
      max-width: 380px;
    }
  }
}
.btn-flotante-inicio {
  width: 40px;
  height: 40px;
  background: rgb(0, 0, 0);
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  color: white;
  @include flexbox(row, center, center);
}
